
.holder{
    border: solid black;
    text-align: center;
}
.header-image{
    margin: 0px auto;
width: 400px;
}

.body-text{
    text-align: center;
    font-size: 30px;
}

ul.nav{
list-style: none;
width: 60%;
margin: 0px auto;

padding: 40px;
}

ul.nav li{
    border: solid 1px black;
    width: 25%;
    float: left;
    text-align: center;
    background-color: white;
    margin: 0px 20px ;
}
.header{
    text-decoration: underline;
    text-align: center;
}

.placement{
    width: 33%;
    margin: 10px auto;
    float: left;
    display: block;
}

.pic{
    width:100%;
}

h1{
    color-adjust: black;
}

h4{
    text-align: center;
}

img{
    border: solid 2px black;
}

body{
    color: white; 
    background-image: url("mossy oak2.png");
}

/* Steve's Comment */