.holder{
    border: solid 1px black;
    text-align: center;
}


.placement{
    width: 33%;
    margin: 10px auto;
    float: left;
    display: block;
}

.pic{
    width:100%;
}


h4{
    text-align: center;
}

img{
    border: solid 2px black;
}

/* Steve's Comment */